.teste {
  background-image: url('../resources/img/coding_bg.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  width: 100vw;
  height: 100vh;
  /* falo que o display é flex */
  display: flex;
  /* ajusto ao centro em relacao ao eixo x */
  justify-content: center;
  /* ajusto ao centro em relacao ao eixo y */
  /* https://origamid.com/projetos/flexbox-guia-completo/ */
  align-items: center;
}

.teste:not(.container) {
  filter: grayscale(100%);
  filter: grayscale(100%);
}

.por-cima {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
}

.description-box {
  width: 100%;
  height: 15rem;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  z-index: 100000;
}

.image-box {
  height: 100%;
  padding: 10px;
}

.description-text {
  height: 100%;
  display: flex;
}

.white {
  background-color: white;
  height: 100%;
}

.my-picture {
  height: 100%;
  border-radius: 5%;
}

h1 {
  font-family: "Courier New";
  color: white;
  text-align: center;
}

.what-i-am {
  font-family: "Courier New";
  color: white;
  font-size: 1.25rem;
  text-align: center;
}

.icon {
  display: inline;
  padding-right: 10px;
}

.img-icon {
 height: 50px;
}

.social-media {
  text-align: center;
  padding-top: 24px;
}

/* pode dar merda no responsivo */
.description {
  padding-top: 4%;
  padding-left: 31px;
}

@media (max-width:993px) {
  h1 {
    font-size: 1.75rem;
  }

  .what-i-am {
    font-size: 1.1rem;
  }

  .image-box {
    width: 100%;
  }

  .description {
    padding-top: 10px;
    padding-left: 0;
  }
}
