<figure style="overflow:visible;" id="spinner">
    <div class="spinner"></div>
    <div style="margin-top:0.5em"><strong>Hello, world!</strong></div>
</figure>
<div class="emscripten" id="status">Downloading...</div>
<div class="emscripten">
    <progress value="50" max="100" id="progress" hidden=1></progress>
</div>
<div class="emscripten">
    <canvas class="emscripten" id="canvas" oncontextmenu="event.preventDefault()"></canvas>
</div>
<textarea class="emscripten" id="output" rows="6"></textarea>

<script type='text/javascript'>
    function isMobile() {
        return (/Mobi/i.test(navigator.userAgent) || /Android/i.test(navigator.userAgent));
    }

    var canvas = document.getElementById('canvas');

    function addErrorMessage(msg) {
        document.getElementById('msgs').innerHTML += ('<br><font color="red">' + msg + '</font>');
    }

    // Setup fullscreen API functions for cross-browser support
    canvas.requestFullscreen = canvas.webkitRequestFullscreen || canvas.mozRequestFullScreen || canvas.msRequestFullscreen;
    if (!canvas.requestFullscreen) addErrorMessage('Error: Full screen mode not available');

    function toggleFullscreen() {
        if (!document.fullscreenElement) {
            canvas.focus();
            canvas.requestFullscreen();
        } else {
            if (document.exitFullscreen) {
                document.exitFullscreen();
            }
        }
    }

    var statusElement = document.getElementById('status');
    var progressElement = document.getElementById('progress');
    var spinnerElement = document.getElementById('spinner');

    var Module = {
        preRun: [],
        postRun: [],
        print: (function () {
            var element = document.getElementById('output');
            if (element) element.value = ''; // clear browser cache
            return function (text) {
                if (arguments.length > 1) text = Array.prototype.slice.call(arguments).join(' ');
                console.log(text);
                if (element) {
                    element.value += text + "\n";
                    element.scrollTop = element.scrollHeight; // focus on bottom
                }
            };
        })(),
        printErr: function (text) {
            if (arguments.length > 1) text = Array.prototype.slice.call(arguments).join(' ');
            console.error(text);
        },
        canvas: (function () {
            var canvas = document.getElementById('canvas');

            canvas.addEventListener("webglcontextlost", function (e) { alert('WebGL context lost. You will need to reload the page.'); e.preventDefault(); }, false);

            return canvas;
        })(),
        setStatus: function (text) {
            if (!Module.setStatus.last) Module.setStatus.last = { time: Date.now(), text: '' };
            if (text === Module.setStatus.last.text) return;
            var m = text.match(/([^(]+)\((\d+(\.\d+)?)\/(\d+)\)/);
            var now = Date.now();
            if (m && now - Module.setStatus.last.time < 30) return; // if this is a progress update, skip it if too soon
            Module.setStatus.last.time = now;
            Module.setStatus.last.text = text;
            if (m) {
                text = m[1];
                progressElement.value = parseInt(m[2]) * 100;
                progressElement.max = parseInt(m[4]) * 100;
                progressElement.hidden = false;
                spinnerElement.hidden = false;
            } else {
                progressElement.value = null;
                progressElement.max = null;
                progressElement.hidden = true;
                canvas.style.display = "block";
                if (!text) {
                    spinnerElement.hidden = true;
                    canvas.style.backgroundColor = "#00000000";
                }
            }
            statusElement.innerHTML = text;
        },
        totalDependencies: 0,
        monitorRunDependencies: function (left) {
            this.totalDependencies = Math.max(this.totalDependencies, left);
            Module.setStatus(left ? 'Preparing... (' + (this.totalDependencies - left) + '/' + this.totalDependencies + ')' : 'All downloads complete.');
        }
    };
    Module.setStatus('Downloading...');
    window.onerror = function () {
        addErrorMessage('Exception thrown. See JavaScript console.');
        Module.setStatus('Exception thrown, see JavaScript console');
        progressElement.hidden = true;
        spinnerElement.style.display = 'none';
        Module.setStatus = function (text) {
            if (text) Module.printErr('[post-exception status] ' + text);
        };
    };
</script>
<script async type="text/javascript" src="dinorun.js"></script>