/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

/*
hex colors: #cbd4c2 #dbebc0 #c3b299 #815355 #523249
*/

.color-ash-gray{
    color: #cbd4c2;
}

.bg-color-ash-gray{
    background-color: #cbd4c2;
}

.color-tea-green{
    color: #dbebc0;
}

.bg-color-tea-green{
    background-color: #dbebc0;
}

.color-khaki{
    color:#c3b299
}

.bg-color-khaki{
    background-color:#c3b299
}

.color-tuscan-red{
    color: #815355 ;
}

.bg-color-tuscan-red{
    background-color: #815355 ;
}

.color-dark-byzantium{
    background-color: #523249 ;
}

.bg-color-dark-byzantium{
    background-color: #523249 ;
}

.w-900{
    max-width: 900px;
}

.content-container{
    min-height: 100vh;
}

.text-content{
    font-family: 'K2D', sans-serif;
}

.inner-content{
    min-height: 300px;
}

@media screen and (max-width: 920px) {
    .inner-content{
        margin: auto 15px;
    }
  }

.not-found{
    position: relative;
    z-index: 99;
    background-color: #cbd4c2;
    color: #333;
    padding: 10%;
}